<ng-form #form class="post-form" style="text-align: center">
  <div class="create-post">
    <div>
      <h3>Create a post</h3>

      <label>Title
        <input class="title" name="title" required [(ngModel)]="blog.title" type="text" maxlength="64">
      </label>
    </div>

    <div>
      <label>Content
        <textarea class="content" name="content" required [(ngModel)]="blog.content" maxlength="2000"></textarea>
      </label>
    </div>

    <div>
      <label>Author
        <input class="author" name="author" required [(ngModel)]="blog.author" type="text" maxlength="32">
      </label>
    </div>

    <div class="selection">
      <label>Time active
        <select class="form-select" name="timeActive" required [(ngModel)]="blog.timeActive">
          <option selected>Select a value</option>
          <option value="1">1 minute</option>
          <option value="15">15 minutes</option>
          <option value="60">1 hour</option>
          <option value="600">10 hours</option>
          <option value="1440">1 day</option>
          <option value="10080">7 days</option>
        </select>
      </label>
    </div>
    <br/>

    <div>
      <button class="btn btn-success" type="submit" (click)="submit()">Create a new post</button>
    </div>
  </div>

</ng-form>

