<div>
  <p>This project is a PoC product for thesis "kotlin in web application development"
  <br> Made By Ville Kautto
  <br> The source code for this site is available at <a href="https://gitlab.com/ville-kautto/temporaryblog">GitLab</a></p>
</div>
