<ng-form #form class="post-form" style="text-align: center">
  <div class="create-post">
    <div class="title">
      <h3>Create a post</h3>

      <label>Title
        <input name="title" required [(ngModel)]="blog.title" type="text">
      </label>
    </div>

    <div class="content">
      <label>Content
        <textarea name="content" required [(ngModel)]="blog.content"></textarea>
      </label>
    </div>

    <div class="author">
      <label>Author
        <input name="author" required [(ngModel)]="blog.author" type="text">
      </label>
    </div>

    <div class="selection">
      <label>Time active
        <select name="timeActive" required [(ngModel)]="blog.timeActive" >
          <option>Select a value</option>
          <option value="1">1 minute</option>
          <option value="15">15 minutes</option>
          <option value="60">1 hour</option>
          <option value="600">10 hours</option>
          <option value="1440">1 day</option>
          <option value="10080">7 days</option>
        </select>
      </label>
    </div>

    <div>
      <button class="btn btn-success" type="submit" (click)="submit()">Create a new post</button>
    </div>
  </div>

</ng-form>

